{% extends "base.html" %}
<!-- Page title -->
{% block title %}
<title>BoneWeb - Camera</title>
{% endblock title %}
<!-- Style block -->
{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
{% endblock styles %}

{% block cpuram %}
<div id="cpuram_container">
    <div class="cpuram">
        <i class="icon_cpu icon"></i>
        <a class='cpu' id="cpu_usage">CPU: _ %</a>
    </div>
    <div class="cpuram">
        <i class="icon_ram icon"></i>
        <a class='cpu' id="ram_usage">RAM: _ %</a>
    </div>
</div>
{% endblock cpuram %}

<!-- Content block -->
{% block content %}

<div class="row">
    <!-- LEFT COLUMN -->
    <div class="leftcolumn">
        <div class="card">
            <h2>CAMERA SNAPSHOT</h2>
            <div class='flex_horizontal_right'>
                <a class='button' id='save_button'> Save </a>
                <a class='button' id='capture_button'> Update </a>
            </div>
            <div class="capture">
                <img id='org-img' class='responsive-100' src="{{ url_for('serve_capture', filename='temp_original.jpg') }}" alt="Original">
            </div>
        </div>
    </div>
    <!-- RIGHT COLUMN -->
    <div class="rightcolumn">
        <div class="card">
            <h2>Image Gallery</h2>
            <div class="gallery" id="capture_gallery"></div>
        </div>
        <div class="card"></div>
    </div>
</div>

<!-- INCLUDE JAVASCRIPTS -->
<script type="text/javascript" src={{ url_for( 'static', filename='js/global.js') }}></script>
<script type="text/javascript" src={{ url_for( 'static', filename='js/cpuram.js') }}></script>
<script type="text/javascript" src={{ url_for( 'static', filename='js/camera.js') }}></script>
<script type="text/javascript" src={{ url_for( 'static', filename='js/gallery.js') }}></script>

{% endblock content %}